@import "normalize.scss";
@import "range.scss";

$font-size-body: 15px;
$font-size-header: 21px;
$font-size-small: 12px;
$nav-width: 167px;
$spacing: 8px;

@font-face {
  font-family: Tempus;
  src: url("../tempus_regular.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-weight: normal;
}

html {
  font-size: $font-size-body;
  font-family: "Tempus", san-serif;
  font-weight: normal;
  line-height: 19px;
  color: #000000;
}

body {
  padding-left: $nav-width;
  padding-bottom: 100px;
}

.text-header {
  font-size: $font-size-header;
  line-height: 25px;
  margin: 0;
}

.text-small {
  font-size: $font-size-small;
  font-family: "Helvetica", san-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  margin: 0;
  color: #808080;
}

a {
  text-decoration: none;
  color: #000000;

  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
    color: #000000;
  }
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  font-family: "Helvetica", san-serif;
  font-size: $font-size-small;
  color: black;
  line-height: normal;
  background-color: #DDDDDD;

  $height: 2em;
  height: $height;
  border-radius: $height / 2;
  padding: 0 3em;
  cursor: pointer;

  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

nav {
  position: absolute;
  left: 0;
  top: 0;

  padding-top: 99px;
  padding-left: 25px;

  a {
    display: block;
  }
}

header {
  .text-header {
    margin: $spacing 0;
  }

  p {
    margin: 2 * $spacing 0;
  }
}

.main-content {
  max-width: 1024px;
}

.page {
  display: none;
}

html[page="intro"] #page-intro,
html[page="read"] #page-read,
html[page="test"] #page-test {
  display: block;
}

#page-intro {
  img {
    width: 100%;
  }
}

.image-rotate {
  cursor: pointer;

  img {
    display: none;
  }
}

.section-read {
  $spacing-right: 160px;
  $spacing-vertical: 8px;

  border-top: 1px solid black;
  padding-left: $spacing-right;
  padding-top: $spacing-vertical;
  padding-bottom: $spacing-vertical;
  position: relative;

  h3 {
    position: absolute;
    top: $spacing-vertical;
    left: 0;
  }

  p {
    margin: 0;
  }

  &.read-1 {
    font-size: 32px;
    line-height: 42px;
  }

  &.read-2 {
    font-size: 21px;
    line-height: 30px;
  }

  &.read-3 {
    font-size: 17px;
    line-height: 22px;
  }

  &:last-child {
    border-bottom: 1px solid black;
  }
}

#page-test {
  border-top: 1px solid black;
  padding-top: $spacing;

  .controller {
    display: flex;
  }

  .range-control {
    margin-right: 20px;
    display: flex;
    align-items: center;

    input {
      margin: 0 1em;
    }

    .range-value {
      color: black;
    }
  }
}
